@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes
@import uk.gov.hmrc.agentsubscriptionfrontend.views.html._


@this(mainTemplate: main_template)

@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@mainTemplate(appConfig, title =  Messages("amls-ineligible-status.title"), bodyClasses = None) {

    <h1 class="heading-xlarge">@Messages("amls-ineligible-status.title")</h1>

    <p>@Messages("amls-ineligible-status.p1")</p>

    <ul class="list-bullets margin-bottom-20">
        <li>@Messages("amls-ineligible-status.li.1")</li>
        <li>@Messages("amls-ineligible-status.li.2")</li>
        <li>@Messages("amls-ineligible-status.li.3")</li>
    </ul>
    <a href="@appConfig.amlsGuidanceLink" target="_blank" rel="noopener noreferrer">@Messages("amls-ineligible-status.link")</a>
}