$govuk-assets-path: "/agent-subscription/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/agent-subscription/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import 'partials/_taskList';
// may need to add accessibleAutocomplete styles?

$govuk-global-styles: true;

a {
  @extend .govuk-link;
}

p {
  @extend .govuk-body;
}

h2 {
 @extend .govuk-heading-m;
}

h3 {
 @extend .govuk-heading-s;
}

// overrides hmrc-header css language toggle focus styles
.hmrc-language-select {
  .govuk-list {
    a {
      &:focus {
            color: govuk-colour("black") !important;
            background-color: govuk-colour("yellow")
      }
    }
  }
  text-decoration: none;
}
